<div class="own-size">
  <div class="gradient"></div>
  <canvas id="js-canvas-page-<%= pageNum %>" class="page-canvas" height="594" width="420"></canvas>
  <% if (imageSrc) { %>
  <img class="full-height full-width" src="<%= imageSrc %>" />
  <% } %>
</div>