<html>
  <head>
    <meta name="google-signin-client_id" content="<%= googleClientId %>">
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/chimera-1e92aa15dc.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/icons-f9e2932681.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/turn.min.js"></script>
    <script type="text/javascript" src="js/vendor/zoom.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="js/vendor/paper-full.min.js"></script>
    <script type="text/javascript" src="js/vendor/FileSaver.min.js"></script>
  </head>
  <body class="container-fluid no-overflow">
    <div class="js-sidebar yearbook-index-sidebar hide-when-sm hide-when-md hide-when-lg col-xlg-2 full-height overflow-auto inverted">
      <div class="h3">Table of contents</div>
      <div>
        <a class="js-go-to-page link-inverted" data-page="3">Cat</a>
      </div>
      <div>
        <a class="js-go-to-page link-inverted" data-page="4">Wave</a>
      </div>
      <div>
        <a class="js-go-to-page link-inverted" data-page="12">Something</a>
      </div>
    </div>
    <div class="js-main col-sm-12 col-xlg-10 full-height overflow-auto">
      <div class="h2 text-center margin-top-2 margin-bottom-4">
        <span class="logo logo-color logo-text gh-logo-img"></span>
      </div>
      <div class="js-google-signin google-signin">
        <div class="js-google-signin-button g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <div class="text-center margin-bottom-5">
        <button class="js-fullscreen button">FULLLLSCREAAAAYYYYN</button>
        <button class="js-draw button">DRAWWWWWW</button>
        <button class="js-flip button is-hidden">FLIPPPPPP</button>
      </div>
      <div class="display-flex horizontal-center-flex-container">
        <div id="js-zoom-wrap" class="flipbook-wrap transparent-background make-relative">
          <canvas id="myCanvas1" class="drawing-canvas-1 is-hidden" height="594" width="420"></canvas>
          <canvas id="myCanvas2" class="drawing-canvas-2 is-hidden" height="594" width="420"></canvas>
          <div id="js-flipbook" class="flipbook">
            <div class="hard"> Animoto: Class of 2017 </div>
            <div class="hard front-side"><div class="depth"></div></div>
            <div class="own-size">
              <div class="gradient"></div>
              <img class="full-height full-width" src="https://static.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg" />
            </div>
            <div class="own-size">
              <div class="gradient"></div>
              <img class="full-height full-width" src="images/test_1.jpg" />
            </div>
            <div class="own-size">
              <div class="gradient"></div>
              <img class="full-height full-width" src="images/test_2.jpg" />
            </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 2 </div>
            <div class="own-size"> Page 3 </div>
            <div class="own-size"> Page 4 </div>
            <div class="own-size"> Page 4 </div>
            <div class="hard fixed back-side"><div class="depth"></div></div>
            <div class="hard"></div>
          </div>
        </div>
      </div><div id="js-slider" class="page-slider margin-top-4 margin-bottom-6">
      </div>
      <div class="pull-right">
        <a href="//www.iubenda.com/privacy-policy/8279875" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
        <script type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
      </div>
    </div>
  </body>
  <script>
    baseOuterWidth = 440;
    baseOuterHeight = 307;
    baseInnerWidth = 420;
    baseInnerHeight = 297;
    currentOuterWidth = baseOuterWidth;
    currentOuterHeight = baseOuterHeight;
    currentInnerWidth = baseInnerWidth;
    currentInnerHeight = baseInnerHeight;
    isFullScreen = false;

    zoomWrap = $('#js-zoom-wrap');
    flipbook = $("#js-flipbook");
    slider = $('#js-slider');

    zoomWrap.css({ width : baseOuterWidth * 2 });
    slider.css({ width : baseOuterWidth });

    flipbook.turn({
      width      : baseOuterWidth * 2,
      height     : baseOuterHeight * 2,
      elevation  : 50,
      autoCenter : true,
      when: {
        turning: function (e, page, view) {
          var book = $(this)
          if (page >= 2) {
            $('.hard.front-side').addClass('fixed');
          }
          else {
            $('.hard.front-side').removeClass('fixed');
          }
          if (page < book.turn('pages')) {
            $('.hard.back-side').addClass('fixed');
          }
          else {
            $('.hard.back-side').removeClass('fixed');
          }
        }
      }
    });

    maxPages = flipbook.turn("pages")

    slider.slider({
      min    : 1,
      max    : maxPages,
      change : function(e, ui) {
        flipbook.turn('page', ui.value)
      }
    });

    flipbook.on('turned', function(event, page, view) {
      slider.slider('value', page);
    });

    $('.js-zoom-in').on('click', function() {
      if (zoomWrap.width() < baseOuterWidth * 2.7) {
        var newWidth = zoomWrap.width() + baseOuterWidth * 0.5;
        var newHeight = zoomWrap.height() + baseOuterHeight * 0.5;
        zoomWrap.css({ width : newWidth })
        flipbook.turn('size', newWidth, newHeight);
      }
    });
    $('.js-zoom-out').on('click', function() {
      if (zoomWrap.width() > baseOuterWidth) {
        var newWidth = zoomWrap.width() - baseOuterWidth * 0.5;
        var newHeight = zoomWrap.height() - baseOuterHeight * 0.5;
        zoomWrap.css({ width : newWidth })
        flipbook.turn('size', newWidth, newHeight);
      }
    });
    $(document).on('keyup', function(e) {
      if (e.which === 39) {
        flipbook.turn('next');
      } else if (e.which === 37) {
        flipbook.turn('previous');
      }
    });
    $('.js-fullscreen').on('click', function() {
      req = zoomWrap[0].requestFullScreen || zoomWrap[0].webkitRequestFullScreen || zoomWrap[0].mozRequestFullScreen;

      currentWidth = zoomWrap.width();
      currentHeight = zoomWrap.height()

      var newHeight = screen.height;
      var outerRatio = screen.height / baseOuterHeight;
      var newOuterWidth = baseOuterWidth * outerRatio;
      var innerRatio = screen.height / baseInnerHeight;
      var newInnerWidth = baseInnerWidth * innerRatio;
      zoomWrap.css({ width: newOuterWidth });
      $('.own-size').css({ width: newInnerWidth });
      flipbook.turn('size', newOuterWidth, newHeight);

      req.call(zoomWrap[0]);
    });

    onFullscreenChangeHandler = function() {
      if (isFullScreen) {
        zoomWrap.css({ width : currentWidth })
        flipbook.turn('size', currentWidth, currentHeight);
        isFullScreen = false;
      } else {
        isFullScreen = true;
      }
    }

    document.addEventListener('fullscreenchange', onFullscreenChangeHandler);
    document.addEventListener('webkitfullscreenchange', onFullscreenChangeHandler);
    document.addEventListener('mozfullscreenchange', onFullscreenChangeHandler);
    document.addEventListener('MSFullscreenChange', onFullscreenChangeHandler);

    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      $('.js-google-signin').append('<img class="google-signed-in-image" src="' + profile.getImageUrl() + '" />')
      $('.js-google-signin-button').addClass('is-hidden');
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

    $('.js-draw').on('click', function() {
      $('#myCanvas1').removeClass('is-hidden');
      $('#myCanvas2').removeClass('is-hidden');
      $('.js-flip').removeClass('is-hidden');
      $('.js-draw').addClass('is-hidden');
    });

    $('.js-flip').on('click', function() {
      $('#myCanvas1').addClass('is-hidden');
      $('#myCanvas2').addClass('is-hidden');
      $('.js-flip').addClass('is-hidden');
      $('.js-draw').removeClass('is-hidden');
    });

    $('.js-go-to-page').on('click', function(e) {
      var page = $(e.currentTarget).data('page');
      flipbook.turn('page', page);
    })

    saveLeft = function() {
      var canvas = document.getElementById("myCanvas1");
      canvas.toBlob(function(blob) {
        saveAs(blob, "lol.png");
      });
    }

    saveRight = function() {
      var canvas = document.getElementById("myCanvas2");
      canvas.toBlob(function(blob) {
        saveAs(blob, "pretty image.png");
      });
    }
  </script>
  <script type="text/paperscript" src="js/canvas.js" canvas="myCanvas1"></script>
  <script type="text/paperscript" src="js/canvas.js" canvas="myCanvas2"></script>
</html>