<html>
  <head>
    <meta name="google-signin-client_id" content="<%= googleClientId %>">
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/chimera-1e92aa15dc.css">
    <link rel="stylesheet" media="screen" href="//d14pr3cu5atb0x.cloudfront.net/pkg/css/icons-f9e2932681.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/turn.min.js"></script>
    <script type="text/javascript" src="js/vendor/zoom.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body class="overflow-auto">
    <div class="h2 text-center margin-top-2 margin-bottom-4">
      <span class="logo logo-color logo-text gh-logo-img"></span>
    </div>
    <div class="js-google-signin google-signin">
      <div class="js-google-signin-button g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <div class="text-center margin-bottom-2">
      <button class="js-fullscreen button">FULLLLSCREAAAAYYYYN</button>
    </div>
    <div class="display-flex horizontal-center-flex-container">
      <div id="js-zoom-wrap" class="margin-2 transparent-background">
        <div id="js-flipbook" class="flipbook">
          <div class="hard"> Animoto: Class of 2017 </div>
          <div class="hard"></div>
          <div>
            <div class="gradient"></div>
            <img class="full-height full-width" src="https://static.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg" />
          </div>
          <div>
            <div class="gradient"></div>
            <img class="full-height full-width" src="images/test_1.jpg" />
          </div>
          <div>
            <div class="gradient"></div>
            <img class="full-height full-width" src="images/test_2.jpg" />
          </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 2 </div>
          <div> Page 3 </div>
          <div> Page 4 </div>
          <div> Page 4 </div>
          <div class="hard"></div>
          <div class="hard"></div>
        </div>
      </div>
    </div>
    <div id="js-slider" class="page-slider margin-bottom-6"></div>
    <div class="pull-right">
      <a href="//www.iubenda.com/privacy-policy/8279875" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </body>
  <script>
    baseWidth = 420;
    baseHeight = 297;
    currentWidth = baseWidth;
    currentHeight = baseHeight;
    isFullScreen = false;

    zoomWrap = $('#js-zoom-wrap');
    flipbook = $("#js-flipbook");
    slider = $('#js-slider');

    zoomWrap.css({ width : baseWidth * 2 });
    slider.css({ width : baseWidth });

    flipbook.turn({
      width      : baseWidth * 2,
      height     : baseHeight * 2,
      elevation  : 50,
      autoCenter : true
    });

    maxPages = flipbook.turn("pages")

    slider.slider({
      min    : 1,
      max    : maxPages,
      change : function(e, ui) {
        flipbook.turn('page', ui.value)
      }
    });

    flipbook.on('turned', function(event, page, view) {
      slider.slider('value', page);
    });

    $('.js-zoom-in').on('click', function() {
      if (zoomWrap.width() < baseWidth * 2.7) {
        var newWidth = zoomWrap.width() + baseWidth * 0.5;
        var newHeight = zoomWrap.height() + baseHeight * 0.5;
        zoomWrap.css({ width : newWidth })
        flipbook.turn('size', newWidth, newHeight);
      }
    });
    $('.js-zoom-out').on('click', function() {
      if (zoomWrap.width() > baseWidth) {
        var newWidth = zoomWrap.width() - baseWidth * 0.5;
        var newHeight = zoomWrap.height() - baseHeight * 0.5;
        zoomWrap.css({ width : newWidth })
        flipbook.turn('size', newWidth, newHeight);
      }
    });
    $(document).on('keyup', function(e) {
      if (e.which === 39) {
        flipbook.turn('next');
      } else if (e.which === 37) {
        flipbook.turn('previous');
      }
    });
    $('.js-fullscreen').on('click', function() {
      req = zoomWrap[0].requestFullScreen || zoomWrap[0].webkitRequestFullScreen || zoomWrap[0].mozRequestFullScreen;

      currentWidth = zoomWrap.width();
      currentHeight = zoomWrap.height()

      var newHeight = screen.height;
      var ratio = screen.height / baseHeight;
      var newWidth = baseWidth * ratio;

      zoomWrap.css({ width: newWidth })
      flipbook.turn('size', newWidth, newHeight);

      req.call(zoomWrap[0]);
    });

    onFullscreenChangeHandler = function() {
      if (isFullScreen) {
        zoomWrap.css({ width : currentWidth })
        flipbook.turn('size', currentWidth, currentHeight);
        isFullScreen = false;
      } else {
        isFullScreen = true;
      }
    }

    document.addEventListener('fullscreenchange', onFullscreenChangeHandler);
    document.addEventListener('webkitfullscreenchange', onFullscreenChangeHandler);
    document.addEventListener('mozfullscreenchange', onFullscreenChangeHandler);
    document.addEventListener('MSFullscreenChange', onFullscreenChangeHandler);

    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      $('.js-google-signin').append('<img class="google-signed-in-image" src="' + profile.getImageUrl() + '" />')
      $('.js-google-signin-button').addClass('is-hidden');
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
  </script>
</html>