body{
  background-color: teal;
  overflow:hidden;
}

.flipbook{
  width: 880px;
  height: 614px;
}

.flipbook .page{
  width: 880px;
  height: 614px;
  background-color:white;
  line-height: 614px;
  font-size:20px;
  text-align:center;
}

.flipbook .own-size {
  width: 420px;
  height: 594px;
}

.flipbook .page-wrapper{
  -webkit-perspective:2000px;
  -moz-perspective:2000px;
  -ms-perspective:2000px;
  -o-perspective:2000px;
  perspective:2000px;
}

.flipbook .hard{
  background:#ccc !important;
  color:#333;
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  font-weight:bold;
  width: 440px;
  height: 614px;
}

.flipbook .odd{
  background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
  background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
}

.flipbook .even{
  background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
  background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:linear-gradient(left, #fff 95%, #dadada 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
}

.even .gradient{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
  background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
  background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
  background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
  background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.odd .gradient{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
  background-image:-webkit-linear-gradient(right,rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
  background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
  background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
  background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
  background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.page-slider {
  width: 420;
  margin: auto;
}

.flipbook .depth{
  background-image:url(../images/pages-depth.png);
  position:absolute;
  top:7px;
  bottom: 7px;
  width:16px;
  height:604px;
  background-size: cover;
}

.flipbook .front-side .depth{
  left:4px;
  background-position:0 0;
}

.flipbook .back-side .depth{
  right:4px;
  background-position:right 0;
}

.google-signin {
  position: absolute;
  top: 8px;
  right: 8px;
}

.google-signed-in-image {
  height: 36px;
}

.yearbook-index-sidebar {
  background: #282828;
}

.no-overflow {
  overflow: hidden;
}

.drawing-canvas-1 {
  position: absolute;
  top: 10px;
  bottom: -10px;
  right: 440px;
  left: 20px;
  z-index: 2;
}

.drawing-canvas-2 {
  position: absolute;
  top: 10px;
  bottom: -10px;
  right: 20px;
  left: 440px;
  z-index: 2;
}

.page-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}